<h3 class="book__title">- <%= book.title %></h3>
<h4 class="book__description">- <%= book.description %></h4>
<h4 class="book__id">[ <%= book.id %> ]</h4>
<% if (book.fileBook) { %>
<image class="book__fileBook" src="<%= book.fileBook %>"> </image>
<% } %>
